<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="做人最紧要就係要开心，专业阴人,把欢乐建立在别人的痛苦之上">
  <meta name="author" content="wongjyusing">
  <!-- <meta name="keywords" content="{% block keywords %}{% end %}"> -->
  <link rel="stylesheet" href="{{ static_url("css/bootstrap.min.css") }}">
  <link rel="stylesheet" href="{{ static_url("css/fruity.css") }}">
  <link rel="stylesheet" href="{{ static_url("css/master.css") }}">

  <title>sing</title>

</head>

<body>


<p>hello</p>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script type="text/javascript" src="{{ static_url("js/jquery.slim.min.js") }}"></script>
  <script type="text/javascript" src="{{ static_url("js/popper.min.js") }}"></script>
  <script type="text/javascript" src="{{ static_url("js/bootstrap.min.js") }}"></script>
</body>

</html>
